<!--<span *ngIf="text && tooltip"
      [title]="tooltip"
      [style.color]="color"
      [style.size.%]="size">
  <span style="text-decoration: underline;
                margin-right: 0.2em;">{{text}}</span>
  <i *ngIf="icon"
    class="fas fa-question-circle" 
    style="font-size: 90%;"
    [style.color]="questionColor"></i>
</span>-->
<div *ngIf="text && tooltip" 
  class="tooltip-container">
  <span class="tooltip-text"
      [style.color]="color"
      [style.size.%]="size">
    <span style="text-decoration: underline;
                  text-decoration-style: dotted;
                  margin-right: 0.2em;">{{text}}</span>
    <i *ngIf="icon"
      class="fas fa-question-circle" 
      style="font-size: 90%;"
      [style.color]="questionColor"></i>
  </span>
  <span class="tooltip-description" #description
        [style.width.px]="descriptionWidth"
        [style.margin-left.px]="-descriptionWidth / 2">
    {{tooltip}}
  </span>
</div>