<div class="form-component">
  <div class="container">
      <button style="font-size: 18px;" [routerLink]="['/customers']">&lt; Back</button>
      <h4 *ngIf="errorMsg">
        An Error Occurred: {{ errorMsg }}<br>
        See Console for Details.
      </h4>

      <h2 *ngIf="isUpdating(); else newCustomer">
        Updating {{ origName }}
        <ng-container *ngIf="updateEntitlements; else updatingInformation">
          <span (click)="toggleUpdateMode()" class="link">
            Information</span> | <b>Entitlements</b>
        </ng-container>
        <ng-template #updatingInformation>
          <b>Information</b> | 
          <span (click)="toggleUpdateMode()" class="link">
            Entitlements</span>
        </ng-template>
      </h2>
      <ng-template #newCustomer>
        <h1>Create New Customer</h1>
      </ng-template>
      
      <br>
      <form autocomplete="off">
        <div id="labels">
          <label for="name" class="long-field">
            Name (up to 100 characters)
          </label>
          <label for="userId" class="short-field">
            User ID (up to 20 characters)
          </label>
          <label for="password" class="long-field">
            Password (15 to 100 characters, must contain lowercase letter, 
            uppercase letter, number, and special character)
          </label>
        </div>
        <div id="inputs">
          <div class="long-field"> <!-- Name -->
            <input type="text" [(ngModel)]="name" name="name" id="name"
                    #nameInput="ngModel" class="form-control" 
                    (ngModelChange)="submissionErrorMsg=null" required
                    [disabled]="updateEntitlements">
            <div [hidden]="!validateName() || nameInput.pristine" 
                  class="alert alert-danger">
              {{ validateName() }}
            </div>
          </div>
        
          <div class="short-field"> <!-- UserID -->
            <input type="text" [(ngModel)]="userId" name="userId" id="userId"
                    #userIdInput="ngModel" class="form-control" 
                    (ngModelChange)="submissionErrorMsg=null" required
                    [disabled]="updateEntitlements">
            <div [hidden]="!validateUserId() || userIdInput.pristine" 
                  class="alert alert-danger">
              {{ validateUserId() }}
            </div>
          </div>
    
          <div class="long-field"> <!-- Password -->
            <input type="text" [(ngModel)]="password" name="password" 
                    #passwordInput="ngModel" class="form-control" id="password"
                    (ngModelChange)="submissionErrorMsg=null" required
                    [disabled]="updateEntitlements">
            <div [hidden]="!validatePassword() || passwordInput.pristine" 
                  class="alert alert-danger" style="margin-bottom: 0px;">
              {{ validatePassword() }}
            </div>
            <button (click)="generatePassword()" class="slight-margin-top">
              Generate Password
            </button>
            of length <input [(ngModel)]="passLength" name="passLength"
                          type="number" style="width:2.25em;"
                          [disabled]="updateEntitlements"> characters
          </div>
        </div>
        <div id="additional-inputs">
          <div class="long-field"> <!-- Client Type and Disabled -->
            <label for="clientType">
              Client Type
            </label>
            <select class="slight-margin-top form-control" 
            [(ngModel)]="clientType" name="clientType" id="clientType"
            [disabled]="updateEntitlements">
              <option *ngFor="let type of clientTypes" [value]="type.value">
                {{ type.string }}
              </option>
            </select>
            <div class="slight-margin-top" style="font-size: 1.2em;">
              <input id="disabled" name="disabled" type="checkbox"
                    [(ngModel)]="disabled" 
                    [disabled]="updateEntitlements">
              <label for="disabled" class="text-danger">
                  &nbsp;Disabled
              </label>
            </div>
          </div>
        
          <div class="short-field"> <!-- Priority -->
            <label for="priority">
              Priority (Highest: 1)
            </label>
            <input type="text" [(ngModel)]="priority" name="priority" id="priority"
                    #priorityInput="ngModel" class="form-control" 
                    (ngModelChange)="submissionErrorMsg=null" required
                    [disabled]="updateEntitlements">
            <div [hidden]="!validatePriority() || priorityInput.pristine" 
                  class="alert alert-danger">
              {{ validatePriority() }}
            </div>
          </div>
        </div>

        <br>

        <button (click)="submitButton()" 
        class="btn btn-success form-button">
          Submit
          {{ updateEntitlements ? 'Entitlements' : 'Information' }}
        </button>
        <button (click)="cancelButton()" 
        class="btn form-button">
          Cancel
        </button>
        
        <br><br>
        <div [hidden]="!submissionErrorMsg" class="text-danger">
          {{ submissionErrorMsg }}<br>
          See console for details.<br><br>
        </div>
        <div [hidden]="!invalidSubmit" class="text-danger">
          <span *ngIf="validateName()">Please enter a valid name.<br></span>
          <span *ngIf="validateUserId()">Please enter a valid user ID.<br></span>
          <span *ngIf="validatePassword()">Please enter a valid password.<br></span>
          <span *ngIf="validatePriority()">Please enter a valid priority.<br></span>
        </div>
        <br>
      </form>
  </div>
  <app-customer-entitlements
          [enabled]="isUpdating()"
          [update]="updateEntitlements">
  </app-customer-entitlements>
</div>