.long-field {
    width: 35%;
    display: inline-block;
    vertical-align: top;
    padding-left: 0em;
    padding-right: 0em;
}
.short-field {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 0em 0.75em;
}