<div style="display:inline-block">
  Page {{ pageNumber }} of {{ totalPages }} (Entries {{ startElement }} 
  through {{ endElement }} of {{ totalElements }})
  <br>
  <button *ngIf="!first" (click)="previousPage()"
    style="float:left; margin-left:1.25em;">
    Previous Page
  </button>
  <button *ngIf="!last" (click)="nextPage()"
    style="float:right; margin-right:1.25em;">
    Next Page
  </button>
  <br><br>
  <span *ngIf="!(first && last)">
      Go to page <input [(ngModel)]="pageToGoTo" 
      type="number" style="width:3em;">
      &nbsp;<button (click)="goToPage()">Go</button>
  </span>
</div>