<div class="details-component">
    <div align="center">
        <br>
        <button [routerLink]="['/locations']">
            &lt; Back
        </button>
    </div><br>
    <h3 *ngIf="error" align="center" class="text-danger">
        Could not get location, see console for details:<br>
        {{ error.message }}
    </h3>
  
    <div *ngIf="location">
        <table class="container">
            <thead>
                <tr>
                    <td colspan="100"><b>{{ location.getName() }} Details</b></td>
                </tr>
                <tr>
                    <th style="width:35%">Field</th>
                    <th style="width:65%">Value</th>
                </tr>
            </thead>
            <tr>
                <td>Name</td>
                <td>{{ location.getName() }}</td>
            </tr>
            <tr>
              <td>Code</td>
              <td>{{ location.getCode() }}</td>
            </tr>
        </table>
        <br>
        <div align="center" *ngIf="admin">
            <button [routerLink]="['update']">Update</button>
            <app-delete-confirmation
                [button]="true"
                (onDelete)="deleteLocation()">
            </app-delete-confirmation>
        </div>
        <br>
    </div>
  </div>