<div class="list-component">
  <table class="container">
    <thead>
      <tr>
        <th colspan="1000" class="no-hover-highlight">
          Multicast Groups
        </th>
      </tr>
      <tr>
        <th style="width:23%" (click)="sort('name')">
            Name
            <span class="up-arrow" *ngIf="isSortAsc('name')">
              &#10148;
            </span>
            <span class="down-arrow" *ngIf="isSortDesc('name')">
              &#10148;
            </span>
        </th>
        <th style="width:25%" (click)="sort('code')">
            Code
            <span class="up-arrow" *ngIf="isSortAsc('code')">
              &#10148;
            </span>
            <span class="down-arrow" *ngIf="isSortDesc('code')">
              &#10148;
            </span>
        </th>
        <th style="width:19%" (click)="sort('ip')">
            Address
            <span class="up-arrow" *ngIf="isSortAsc('ip')">
              &#10148;
            </span>
            <span class="down-arrow" *ngIf="isSortDesc('ip')">
              &#10148;
            </span>
        </th>
        <th style="width:12%" (click)="sort('autoAssign')">
            Give All?
            <span class="up-arrow" *ngIf="isSortAsc('autoAssign')">
              &#10148;
            </span>
            <span class="down-arrow" *ngIf="isSortDesc('autoAssign')">
              &#10148;
            </span>
        </th>
        <th style="width:21%;" class="default-cursor">Actions</th>
      </tr>
    </thead>
    <ng-container *ngIf="multicastGroupPage; else loading">
      <ng-container *ngIf="multicastGroups.length > 0; else noMulticastGroups">
        <tr *ngFor="let multicastGroup of multicastGroups" [routerLink]="[multicastGroup.getId()]" class="row-entry">
          <td>
            {{ multicastGroup.getName() }}
          </td>
          <td>
            {{ multicastGroup.getCode() }}
          </td>
          <td>
            {{ multicastGroup.getAddress() }}
          </td>
          <td [class.text-success]="multicastGroup.isAutoAssign()"
              [class.text-danger]="!multicastGroup.isAutoAssign()">
            {{ multicastGroup.isAutoAssign() ? 'Yes' : 'No'}}
          </td>
          <!-- Details, Update, Delete-->
          <td (click)="$event.stopPropagation()" class="row-options"> 
            <span [routerLink]="[multicastGroup.getId()]" class="link row-option">Details</span>
            <ng-container *ngIf="admin">
              <span [routerLink]="[multicastGroup.getId(), 'update']" class="link row-option">Update</span>
              <app-delete-confirmation
                [button]="false"
                (onDelete)="deleteMulticastGroup(multicastGroup.getId())">
              </app-delete-confirmation>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    <ng-template #noMulticastGroups>
      <tr class="full-width-centered">
        <td colspan=100>
          <b *ngIf="multicastGroupPage.totalElements === 0; else wrongPage">
            There are currently no multicast groups.
          </b>
          <ng-template #wrongPage><b>
            This page is empty. 
            <span (click)="toFirstPage()" class="link">Go to first page</span>
          </b></ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template #loading>
      <tr class="full-width-centered">
        <td colspan=100>
          <span *ngIf="errorMsg; else loading">
            An error occured, see console for details:<br>
            {{ errorMsg }}
          </span>
          <ng-template #loading><b>Loading...</b></ng-template>
        </td>
      </tr>
    </ng-template>
  </table>
  <br>
  <div class="full-width-centered">
    <ng-container *ngIf="admin">
      <button [routerLink]="['new']" class="new-entry">Add New Multicast Group</button>
      <br><br>
    </ng-container>
    <span *ngIf="multicastGroupPage && multicastGroups.length > 0" style="font-size: 1.1em;">
      <app-paginator #paginator
        [page]="multicastGroupPage"
        (pageChange)="goToPage($event)">
      </app-paginator>
    </span>
  </div>
</div>