<div class="list-component">
  <table class="container">
    <thead>
      <tr>
        <th colspan="1000" class="no-hover-highlight">
          <ng-container *ngIf="queryParams.disabled; else active">
            <span (click)="toggleDisabled()" class="link">
              Active Customers</span>
            &nbsp;|&nbsp;
            Disabled Customers
          </ng-container>
          <ng-template #active>
            Active Customers
            &nbsp;|&nbsp;
            <span (click)="toggleDisabled()" class="link">
              Disabled Customers</span>
          </ng-template>
        </th>
      </tr>
      <tr>
        <th style="width:28%" (click)="sort('name')">
          Name
          <span class="up-arrow" *ngIf="isSortAsc('name')">
            &#10148;
          </span>
          <span class="down-arrow" *ngIf="isSortDesc('name')">
            &#10148;
          </span>
        </th>
        <th style="width:15%" (click)="sort('userId')">
          User ID
          <span class="up-arrow" *ngIf="isSortAsc('userId')">
            &#10148;
          </span>
          <span class="down-arrow" *ngIf="isSortDesc('userId')">
            &#10148;
          </span>
        </th>
        <th style="width:25%" (click)="sort('password')">
          Password
          <span class="up-arrow" *ngIf="isSortAsc('password')">
            &#10148;
          </span>
          <span class="down-arrow" *ngIf="isSortDesc('password')">
            &#10148;
          </span>
        </th>
        <th style="width:25%;" class="default-cursor">Actions</th>
      </tr>
    </thead>
    <ng-container *ngIf="customerPage; else loading">
      <ng-container *ngIf="customers.length > 0; else noCustomers">
        <tr *ngFor="let customer of customers" [routerLink]="[customer.getId()]" class="row-entry">
          <td>
            {{ customer.getName() }}
          </td>
          <td>
            {{ customer.getUserId() }}
          </td>
          <td>
            {{ customer.getPassword() }}
          </td>
          <!-- Details, Update, Delete-->
          <td (click)="$event.stopPropagation()" class="row-options"> 
            <span [routerLink]="[customer.getId()]" class="link row-option">Details</span>
            <span [routerLink]="[customer.getId(), 'update']" class="link row-option">Update</span>
            <app-delete-confirmation
              [button]="false"
              (onDelete)="deleteCustomer(customer.getId())">
            </app-delete-confirmation>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    <ng-template #noCustomers>
      <tr class="full-width-centered">
        <td colspan=100>
          <b *ngIf="customerPage.totalElements === 0; else wrongPage">
            There are currently no 
            {{queryParams.disabled ? 'disabled' : 'active'}}
            customers.
          </b>
          <ng-template #wrongPage><b>
            This page is empty. 
            <span (click)="toFirstPage()" class="link">Go to first page</span>
          </b></ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template #loading>
      <tr class="full-width-centered">
        <td colspan=100>
          <span *ngIf="errorMsg; else loading">
            An error occured, see console for details:<br>
            {{ errorMsg }}
          </span>
          <ng-template #loading><b>Loading...</b></ng-template>
        </td>
      </tr>
    </ng-template>
  </table>
  <br>
  <div class="full-width-centered">
    <button [routerLink]="['new']" class="new-entry">Add New Customer</button>
    <br><br>
    <span *ngIf="customerPage && customers.length > 0" style="font-size: 1.1em;">
      <app-paginator #paginator
        [page]="customerPage"
        (pageChange)="goToPage($event)">
      </app-paginator>
    </span>
  </div>
</div>