<div class="details-component">
    <div align="center">
        <br>
        <button [routerLink]="['/customers']">
            &lt; Back
        </button>
    </div><br>
    <h3 *ngIf="error" align="center" class="text-danger">
        Could not get customer, see console for details:<br>
        {{ error.message }}
    </h3>

    <div *ngIf="customer">
        <table class="container">
            <thead>
                <tr>
                    <td colspan="100"><b>{{ customer.getName() }} Details</b></td>
                </tr>
                <tr>
                    <th style="width:35%">Field</th>
                    <th style="width:65%">Value</th>
                </tr>
            </thead>
            <tr>
                <td>Name</td>
                <td>{{ customer.getName() }}</td>
            </tr>
            <tr>
                <td>User ID</td>
                <td>{{ customer.getUserId() }}</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>{{ customer.getPassword() }}</td>
            </tr>
            <tr>
                <td>Client Type</td>
                <td>{{ customer.clientTypeString() }}</td>
            </tr>
            <tr>
                <td>Priority</td>
                <td>{{ customer.getPriority() }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td [class.text-danger]="customer.isDisabled()"
                    [class.text-success]="!customer.isDisabled()">
                    {{ customer.isDisabled() ? 'Disabled' : 'Active'}}
                </td>
            </tr>
        </table>
        <br>
        <div align="center">
            <button [routerLink]="['update']">Update</button>
            <app-delete-confirmation
                [button]="true"
                (onDelete)="deleteCustomer()">
            </app-delete-confirmation>
        </div>
        <br>
    </div>
    <app-customer-entitlements #entitlementsComponent>
    </app-customer-entitlements>
</div>