<div class="list-component">
    <table class="container">
      <thead>
        <tr>
          <th colspan="1000" class="no-hover-highlight">
            Products
          </th>
        </tr>
        <tr>
            <th style="width:50%" (click)="sort('name')">
                Name
                <span class="up-arrow" *ngIf="isSortAsc('name')">
                  &#10148;
                </span>
                <span class="down-arrow" *ngIf="isSortDesc('name')">
                  &#10148;
                </span>
            </th>
            <th style="width:50%;" class="default-cursor">Actions</th>
        </tr>
      </thead>
      <ng-container *ngIf="productPage; else loading">
        <ng-container *ngIf="products.length > 0; else noProducts">
          <tr *ngFor="let product of products" [routerLink]="[product.getId()]" class="row-entry">
            <td>
              {{ product.getName() }}
            </td>
            <!-- Details, Update, Delete-->
            <td (click)="$event.stopPropagation()" class="row-options"> 
              <span [routerLink]="[product.getId()]" class="link row-option">Details</span>
              <span [routerLink]="[product.getId(), 'update']" class="link row-option">Update</span>
              <app-delete-confirmation
                [button]="false"
                (onDelete)="deleteProduct(product.getId())">
              </app-delete-confirmation>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      <ng-template #noProducts>
        <tr class="full-width-centered">
          <td colspan=100>
            <b *ngIf="productPage.totalElements === 0; else wrongPage">
              There are currently no products.
            </b>
            <ng-template #wrongPage><b>
              This page is empty. 
              <span (click)="toFirstPage()" class="link">Go to first page</span>
            </b></ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template #loading>
        <tr class="full-width-centered">
          <td colspan=100>
            <span *ngIf="errorMsg; else loading">
              An error occured, see console for details:<br>
              {{ errorMsg }}
            </span>
            <ng-template #loading><b>Loading...</b></ng-template>
          </td>
        </tr>
      </ng-template>
    </table>
    <br>
    <div class="full-width-centered">
      <button [routerLink]="['new']" class="new-entry">Add New Product</button>
      <br><br>
      <span *ngIf="productPage && products.length > 0" style="font-size: 1.1em;">
        <app-paginator #paginator
          [page]="productPage"
          (pageChange)="goToPage($event)">
        </app-paginator>
      </span>
    </div>
  </div>