<div *ngIf="enabled" class="full-width">
  <table class="centered"
          [class.checklist]="update"
          [class.no-hover-highlight]="!update">
    <thead>
      <tr>
        <th colspan="1000">
          Multicast Groups
        </th>
      </tr>
    </thead>
    <tr *ngIf="update">
      <td (click)="toggleAllGroups()">
        <input type="checkbox" [(ngModel)]="allChecked">
        <b> Check/Uncheck All</b>
      </td>
    </tr>    
        
    <ng-container *ngIf="update; else display"> <!-- Updating Multicast Groups-->
      <tr *ngFor="let group of multicastGroups; let i = index"
        [class.disabled]="group.isAutoAssign()">
        <td *ngIf="group.isAutoAssign(); else clickable" class="gray-text">
          <input type="checkbox" checked disabled>
          {{ group.toString() }}
        </td>
        <ng-template #clickable>
          <td (click)="toggleGroup(i)">
            <input type="checkbox" [checked]="groupIsSelected(i)">
            {{ group.toString() }}
          </td>
        </ng-template>
      </tr>
      <tr>
        <td [routerLink]="['/multicast-groups/new']" class="centered-content">
          <button>Add New Multicast Group</button>
        </td>
      </tr>
    </ng-container>
    <ng-template #display> <!-- Displaying Multicast Groups -->
      <tr *ngFor="let group of initialGroups" [class.gray-text]="group.isAutoAssign()">
        <td>
          {{ group.toString() }}
        </td>
      </tr>
      <tr *ngIf="!initialGroups || initialGroups.length === 0">
        <td>N/A</td>
      </tr>
    </ng-template>
  </table>
</div>