<div class="details-component">
  <div align="center">
      <br>
      <button [routerLink]="['/products']">
          &lt; Back
      </button>
  </div><br>
  <h3 *ngIf="error" align="center" class="text-danger">
      Could not get product, see console for details:<br>
      {{ error.message }}
  </h3>

  <div *ngIf="product">
      <table class="container">
          <thead>
              <tr>
                  <td colspan="100"><b>{{ product.getName() }} Details</b></td>
              </tr>
              <tr>
                  <th style="width:35%">Field</th>
                  <th style="width:65%">Value</th>
              </tr>
          </thead>
          <tr>
              <td>Name</td>
              <td>{{ product.getName() }}</td>
          </tr>
          <tr>
            <td rowspan="1000">Multicast Groups</td>
            <td *ngIf="multicastGroups.length > 0; else noGroups"
                [class.gray-text]="multicastGroups.length > 0 && multicastGroups[0].isAutoAssign()">
                {{ multicastGroups[0].toString() }}
            </td>
            <ng-template #noGroups>
                <td>N/A</td>
            </ng-template>
          </tr>
          <ng-container *ngIf="multicastGroups.length > 1">
              <tr *ngFor="let group of multicastGroups | slice: 1"
                    [class.gray-text]="group.isAutoAssign()">
                  <td>
                      {{ group.toString() }}
                  </td>
              </tr>
          </ng-container>
      </table>
      <br>
      
      <div align="center" *ngIf="admin">
          <button [routerLink]="['update']">Update</button>
          <app-delete-confirmation
              [button]="true"
              (onDelete)="deleteProduct()">
          </app-delete-confirmation>
      </div>
      <br>
  </div>
</div>