/* =============== General CSS =============== */
table {
    font-size: 0.75em;
}
td div { /*Two halves of bigger div*/
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
td {
    padding: 0px 0px; 
}
span.link {
    cursor: pointer;
}
.product-name {
    width: 10%;
}
.cell-text {
    font-weight: bold;
}
.clickable-cell:hover {
    cursor: pointer;
}
.clickable-cell *:hover {
    cursor: pointer;
}

/* ========== Subscribed Cells ========== */
.subscribed {
    background-color: rgba(90, 212, 33, 0.932);
}
.subscribed.changed {
    background: repeating-linear-gradient(
        45deg,
        rgba(36, 196, 4, 0.89),
        rgba(36, 196, 4, 0.89) 5px,
        rgba(90, 212, 33, 0.932) 5px,
        rgba(90, 212, 33, 0.932) 10px
    );
}
.subscribed.changed:not(.update-num-logins):hover {
    background: none;
    background-color: rgba(255, 0, 0, 0.2);
}
.subscribed:not(.update-num-logins):hover {
    /* unsub from sub */
    background-color: rgba(255, 0, 0, 0.2);
}
.subscribed .upper-text {
    visibility: hidden;
}
.subscribed .lower-text {
    display: none;
}
.subscribed:not(.update-num-logins):hover .upper-text {
    /* unsub */
    display: block;
}
.subscribed:not(.update-num-logins):hover {
    border: 3px solid black;
}
.subscribed:not(.update-num-logins):hover .lower-half {
    display: none;
}

/* ============ Trial Cells ============ */
.trial {
    background-color: rgba(93, 220, 236, 0.877);
}
.trial.changed {
    background: repeating-linear-gradient(
        45deg,
        rgba(139, 232, 255, 0.904),
        rgba(139, 232, 255, 0.904) 5px,
        rgba(93, 220, 236, 0.877) 5px,
        rgba(93, 220, 236, 0.877) 10px
    );
}
.trial.changed:not(.update-num-logins):hover {
    background: none;
}
.trial .lower-half {
    display: none;
}
.trial:not(.update-num-logins):hover {
    background-color: inherit;
}
.trial:not(.update-num-logins):hover .upper-half {
    /* Sub from trial */
    background-color: rgba(90, 212, 33, 0.932);
}
.trial:not(.update-num-logins):hover .upper-half:hover {
    /* Sub from trial hover */
    /* background-color: rgba(245, 255, 106, 0.932); */
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: black;
}
.trial:not(.update-num-logins):hover .lower-half {
    /* Unsub from trial */
    background-color: rgba(255, 0, 0, 0.2);
    display: block;
}
.trial:not(.update-num-logins):hover .lower-half:hover {
    /* Unsub from trial hover */
    border-width: 2px 1px 1px 1px;
    border-style: solid;
    border-color: black;
}
.trial .upper-text {
    display: none;
}
.trial:not(.update-num-logins):hover .upper-text {
    display: block;
}

/* ========= Unsubscribed Cells ========= */
.not-subscribed {
    background-color: inherit;
}
.not-subscribed.changed {
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 0, 0, 0.226),
        rgba(255, 0, 0, 0.226) 5px,
        rgba(194, 0, 0, 0.322) 5px,
        rgba(194, 0, 0, 0.322)  10px
    );
}
.not-subscribed:not(.update-num-logins):hover .upper-half {
    background-color: rgba(90, 212, 33, 0.932);
}
.not-subscribed:not(.update-num-logins):hover .upper-half:hover {
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: black;
}
.not-subscribed:not(.update-num-logins):hover .lower-half {
    background-color: rgba(93, 220, 236, 0.877);
}
.not-subscribed:not(.update-num-logins):hover .lower-half:hover {
    border-width: 2px 1px 1px 1px;
    border-style: solid;
    border-color: black;
}

/* ========= Cell Text ========== */
.upper-text {
    visibility: hidden;
}
.lower-text {
    visibility: hidden;
}
td:not(.update-num-logins):hover .upper-text {
    visibility: inherit;
}
td:not(.update-num-logins):hover .lower-text {
    visibility: inherit;
}
td .full-text {
    display: block;
}
td:not(.update-num-logins):hover .full-text {
    display: none;
}

/* ========= Trial Prompts ========= */
.has-trial-prompt {
    background: repeating-linear-gradient(
        45deg,
        rgba(72, 198, 248, 0.74),
        rgba(72, 198, 248, 0.74) 5px,
        rgba(136, 205, 245, 0.877) 5px,
        rgba(136, 205, 245, 0.877) 10px
    );
}
.has-trial-prompt:not(.update-num-logins):hover {
    /* Trial Prompt cell unsub */
    background: none;
    background-color: rgba(255, 0, 0, 0.2);
    border: 3px solid black;
}
.trial-prompt:hover {
    background-color: lightskyblue;
    cursor: pointer;
}
.trial-prompt input:hover {
    cursor: pointer;
}
#trial-prompts {
    font-size: 0.95em;
}
#trial-prompts tr {
    background-color: inherit;
}
#trial-prompts td {
    text-align: left;
    padding-left: 0.25em;
    padding-right: 0.3em;
}
.selected-trial-prompt {
    /* This class currently does nothing; selected-trial-prompt-animation
    does the work. */
    background: repeating-linear-gradient(
        45deg,
        rgba(139, 232, 255, 0.904),
          rgba(139, 232, 255, 0.904) 5px,
          rgba(93, 220, 236, 0.877) 5px,
          rgba(93, 220, 236, 0.877) 10px
    );
}
.hover-highlight:not(html):not(html):not(html):not(html):not(html) {
    background: none;
    background-color: rgba(255, 238, 0, 0.493);
}

/* =========== Changes =========== */
#changes {
    font-size: 0.9em;
    margin-right: 1em;
    border-bottom: 3px solid black;
}
#changes td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#changes :not(thead) > tr {
    border-left: 3px solid black;
    border-right: 3px solid black;
}
#changes :not(thead) > tr:hover td:not([rowspan]) {
    background-color: lightskyblue;
    cursor: pointer;
}
#changes tr.first-change {
    border-top: 3px solid black;
}

.trial-background {
    background-color: lightblue;
}
.unsub-background {
    background-color: rgba(255, 0, 0, 0.2);
}
.sub-background {
    background-color: palegreen;
}

/* ==================================================== */
/*                View State of Component               */
/* ==================================================== */
.view-subscribed, .view-trial, .view-not-subscribed {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}
.view-subscribed {
    background-color: rgba(90, 212, 33, 0.932);
}
.view-trial {
    background-color: rgba(93, 220, 236, 0.877);
}
.view-not-subscribed {
    background-color: inherit;
}

/* ============= Update Num Logins =============== */
.subscribed.update-num-logins, .trial.update-num-logins, 
.not-subscribed.update-num-logins {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

/* ===== Horizontal formatting across screen ===== */
.element-container {
    white-space: nowrap;
}
.entitlements-table {
    min-width: 48%;
    display: inline-block;
}
.entitlements-table table {
    width: 100%;
}
.side-div {
    min-width: 26%;
    display: inline-block;
    vertical-align: top;
    padding: 0px 1em;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}

/* ================ Animations ================ */
/*.selected-trial-prompt-animation {
    background: repeating-linear-gradient(
        45deg,
        rgba(139, 232, 255, 0.904),
          rgba(139, 232, 255, 0.904) 5px,
          rgba(93, 220, 236, 0.877) 5px,
          rgba(93, 220, 236, 0.877) 10px
    );
    position: relative;
}
.selected-trial-prompt-animation::before {
    background-color: rgba(242, 255, 56, 0.7);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: 100;
    animation-name: selectedTrialPromptAnimation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes selectedTrialPromptAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}*/