<div class="details-component">
  <div align="center">
      <br>
      <button [routerLink]="['/multicast-groups']">
          &lt; Back
      </button>
  </div><br>
  <h3 *ngIf="error" align="center" class="text-danger">
      Could not get multicast group, see console for details:<br>
      {{ error.message }}
  </h3>

  <div *ngIf="multicastGroup">
      <table class="container">
          <thead>
              <tr>
                  <td colspan="100"><b>{{ multicastGroup.getName() }} Details</b></td>
              </tr>
              <tr>
                  <th style="width:35%">Field</th>
                  <th style="width:65%">Value</th>
              </tr>
          </thead>
          <tr>
              <td>Name</td>
              <td>{{ multicastGroup.getName() }}</td>
          </tr>
          <tr>
            <td>IP</td>
            <td>{{ multicastGroup.getIp() }}</td>
          </tr>
          <tr>
            <td>Port</td>
            <td>{{ multicastGroup.getPort() }}</td>
          </tr>
      </table>
      <br>
      <div align="center">
          <button [routerLink]="['update']">Update</button>
          <app-delete-confirmation
              [button]="true"
              (onDelete)="deleteMulticastGroup()">
          </app-delete-confirmation>
      </div>
      <br>
  </div>
</div>