<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    AlphaFlash User Management<br>
    refactor so that instead of entitlementGrid, we use objects for each cell with all necessary properties,
    change boolean to determine whether to post entitlements,
    functions to get values from arrays, instead of direct accessing (view-model to back the table)
    change update page to same as details but editable,
    separate updating info with updating entitlements
    modal dialog for setting trial times,
    preserve query params between details and list component?,
    CHECK WITH PHILIP AND DAVID, 
    Set All?
  </h1>
</div>
<router-outlet></router-outlet>

